# Leitura dos dados

In [26]:
# Tire o coment√°rio da cidade que deseja fazer o processamento
#id_city = 'london'
#id_city = 'rj'
id_city = 'los_angeles'

In [25]:
import pandas as pd
import sys
import os

In [27]:
path_input = os.path.join(sys.path[0], "data", f"listings_{id_city}.csv")

In [28]:
df_list = pd.read_csv(path_input)

In [29]:
df_list.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,109,Amazing bright elegant condo park front *UPGRA...,521,Paolo,Other Cities,Culver City,33.98301,-118.38607,Entire home/apt,115,30,2,2016-05-15,0.02,1,226,0,NaN
1,2708,Runyon Canyon | Beau Furn Mirror Mini-Suite Fi...,3008,Chas.,City of Los Angeles,Hollywood,34.09625,-118.34605,Private room,89,30,33,2021-11-01,0.69,3,327,5,NaN
2,2732,Zen Life at the Beach,3041,Yoga Priestess,Other Cities,Santa Monica,34.00440,-118.48095,Private room,167,7,21,2019-12-27,0.35,2,359,0,228269
3,2864,* Beautiful Master Suite/Jacuzzi Tub/*,3207,Bernadine,Other Cities,Bellflower,33.87490,-118.11515,Entire home/apt,50,30,0,NaN,NaN,1,0,0,NaN
4,3021,Hollywood Hills Zen Modern style Apt/Guesthouse,3415,Nataraj,City of Los Angeles,Hollywood Hills West,34.11160,-118.38223,Entire home/apt,118,31,23,2018-10-31,0.23,4,308,0,NaN

# Filtrando as colunas de interesse

In [30]:
columns_interest = ['id',
                    'name',
                    'host_id',
                    'host_name',
                    'neighbourhood',
                    'latitude',
                    'longitude',
                    'room_type',
                    'price',
                    'minimum_nights',
                    'number_of_reviews',
                    'calculated_host_listings_count',
                    'availability_365']

In [31]:
df_list = df_list[columns_interest]

# Renomeando o tipo de quarto

In [32]:
df_list['room_type'].unique()

array(['Entire home/apt', 'Private room', 'Hotel room', 'Shared room'],
      dtype=object)

In [33]:
room_type = {'Entire home/apt': "Espa√ßo Inteiro",
             'Private room': 'Quarto Inteiro',
             'Shared room': 'Quarto Compartilhado',
             'Hotel room': 'Quarto de Hotel'}

In [34]:
df_list['room_type'].replace(room_type, inplace=True)

In [35]:
df_list['room_type'].unique()

array(['Espa√ßo Inteiro', 'Quarto Inteiro', 'Quarto de Hotel',
       'Quarto Compartilhado'], dtype=object)

In [36]:
df_list.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365
0,109,Amazing bright elegant condo park front *UPGRA...,521,Paolo,Culver City,33.98301,-118.38607,Espa√ßo Inteiro,115,30,2,1,226
1,2708,Runyon Canyon | Beau Furn Mirror Mini-Suite Fi...,3008,Chas.,Hollywood,34.09625,-118.34605,Quarto Inteiro,89,30,33,3,327
2,2732,Zen Life at the Beach,3041,Yoga Priestess,Santa Monica,34.00440,-118.48095,Quarto Inteiro,167,7,21,2,359
3,2864,* Beautiful Master Suite/Jacuzzi Tub/*,3207,Bernadine,Bellflower,33.87490,-118.11515,Espa√ßo Inteiro,50,30,0,1,0
4,3021,Hollywood Hills Zen Modern style Apt/Guesthouse,3415,Nataraj,Hollywood Hills West,34.11160,-118.38223,Espa√ßo Inteiro,118,31,23,4,308

In [37]:
path_output = os.path.join(sys.path[0], "data", f'airbnb_{id_city}.csv')
df_list.to_csv(path_output)

# Salvando arquivo